*{ /*selector universal*/
    background-color: beige;
    /*background-color: #AFD796;*/
    align-content: center;
}

header{ /*selector de tipo*/
    /*padding: 7px;*/
    color: #A6D18C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

body { 
    display: grid;
    place-items: center;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 100px;
}

.li-box{ /*selector de clase*/
    font-style: italic;
    color: rgb(63, 58, 58);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    background-color: #AFD796;
    border: 2px solid #AFD796;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7%;
    padding-right: 7%;
    margin: 3px;
    margin-left: 3px;
    margin-right: 3px;
    align-items: center; 
}

textarea[name="user-input"] { /*selector de clase*/
    display: block;
    background-color: whitesmoke;
    font-size: large;
    width: 800px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #999;
}

#reset-button {
    margin: 0 auto;
    background-color: #A6D18C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight:bold;
    border-color:#A6D18C;
    /* border-radius: 20px; */
    color: beige;
    display: flex;
    align-items: center;
    padding: 0.5em 1.2em;
}

footer {
    color: rgb(66, 71, 66);
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
}